body {
  margin: 0;

  font-family: "Work Sans", sans-serif;
  font-weight: 20px;
}
body::-webkit-scrollbar {
  width: 1em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(161, 213, 239);
  outline: 1px solid rgb(83, 134, 184);
}

.container {
  width: 80%;
  margin: 0 auto;
}

header {
  /* background: #55d6aa; */
  box-shadow: 1px 10px 8px #8888884f;
  color: #7d7878fa;
}

header::after {
  content: "";
  display: table;
  clear: both;
}

.logo {
  float: left;
  padding: 10px 0;
  cursor: pointer;
}

nav {
  /* float: right;*/

  margin-left: 0px;
}

nav ul {
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 22px;
  padding-top: 40px;

  position: relative;
}

nav a {
  color: #7d7878fa;
  text-decoration: none;
  font-size: 14px;
}

nav a:hover {
  color: rgb(54, 53, 53);
}

nav a::before {
  content: "";
  display: block;
  height: 5px;
  background-color: rgb(38, 86, 188);

  position: absolute;
  bottom: -10px;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}

/* comming soon info*/

.current-page-info {
  color: rgb(15, 105, 157);
  margin-left: 169px;
  font-size: 35px;
}

.main-section {
  width: 1000px;
  height: 450px;

  margin-top: 25px;
  margin-left: 152px;
  display: flex;
}

.coming-soon-image {
  background-image: url(../images/coming_soon.jpg);
  width: 550px;
  height: 450px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.Main-page-link {
  width: 450px;
  height: 450px;
}
.Main-page-link p {
  padding: 215px 115px;
}
.Main-page-link p a {
  color: rgb(15, 105, 157);
  text-decoration: none;
}

.Main-page-link p a:hover {
  color: rgb(230, 195, 23);
}

/* table */

/*Search*/
.div1 {
  display: none;
}
.Search {
  margin: 0 auto;
  width: 380px;
  height: 30px;
  display: flex;
  justify-content: space-around;
}
.textfinder {
  width: 250px;
  background-color: whitesmoke;
  border-radius: 10px;
  border-style: groove;
  border-color: #7070e3;
}
.show-filter {
  width: 92px;
  height: 30px;
  margin-bottom: 15px;
  font-size: 15px;
  color: #6565c0;
  background-color: whitesmoke;
  border-radius: 10px;
  border-color: #51a1eb;
}

.tb {
  width: 1200px;
  height: auto;
  margin: 0 auto;
}
.table-wrapper {
  width: 1200px;
  margin: 30px auto;
  background: #fff;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  border-radius: 26px;
}
.table-title {
  padding-bottom: 10px;
  margin: 0 0 10px;
}
.table-title h2 {
  margin: 6px 0 0;
  font-size: 22px;
}
.table-title .add-new {
  float: right;
  height: 30px;
  font-weight: bold;
  font-size: 12px;
  text-shadow: none;
  min-width: 100px;
  border-radius: 50px;
  line-height: 13px;
}

.table-title .add-new i {
  margin-right: 4px;
}
.table {
  table-layout: fixed;
}
.table tr th,
.table tr td {
  border-color: #e9e9e9;
}
.table th i {
  font-size: 13px;
  margin: 0 5px;
  cursor: pointer;
}
.table th:last-child {
  width: 100px;
}
.table tr:nth-child(even) {
  background-color: #f2f2f2;
}
.table td a {
  cursor: pointer;
  display: inline-block;
  margin: 0 5px;
  min-width: 24px;
}
.table td a.add {
  color: #25ec7b;
}
.table td a.edit {
  color: #ffc107;
}
.table td a.delete {
  color: #fc1515;
}
.table td i {
  font-size: 19px;
}
.table td a.add i {
  font-size: 24px;
  margin-right: -1px;
  position: relative;
  top: 3px;
}
.table .form-control {
  height: 32px;
  line-height: 32px;
  box-shadow: none;
  border-radius: 2px;
}
.table .form-control.error {
  border-color: #f50000;
}
.table td .add {
  display: none;
}

/*  footer */
.footer p {
  margin: 150px 0px 0px 40px;

  color: #090471;
  font-size: 20px;
}
